[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
requests = "*"
urllib2 = "*"
wtforms = "*"
flask-sqlalchemy = "*"
cymysql = "*"
pymysql = "*"
flask-login = "*"

[requires]
python_version = "3.7"
